---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Fernando Rodriguez">
	<main id="content" class="pt-24 lg:w-7/12 lg:py-24">
    <About />
    <Experience />
    <Projects />
  </main>
</Layout>
