<section id="about" class="mb-16 text-lg scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Sobre mi">
  <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
    <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Sobre Mi</h2>
  </div>
  <div>
    <p class="mb-4">En los últimos semestres de mi carrera de Matemáticas, decidí cambiar mi enfoque hacia la programación. Mientras estudiaba, enseñaba matemáticas a diferentes niveles, pero mi <span class="text-yellow-200">verdadera pasión</span> se encontraba en el desarrollo web. Después de dedicar tiempo a estudiar de manera autodidacta, tuve la oportunidad de perfeccionar mis habilidades en un bootcamp.
    </p>
    <p class="mb-4">Desde el 2022, he estado trabajando como desarrollador <span class="text-yellow-200">frontend</span>, explorando más tarde el mundo del <span class="text-yellow-200">backend</span>. Disfruto creando aplicaciones web donde la interfaz no solo sea atractiva, sino también <span class="text-yellow-200">eficiente</span> bajo el capó.</p>
    <p>Cuando no estoy frente a la pantalla, me gusta sumergirme en la <span class="text-yellow-200">lectura</span>, disfrutar del <span class="text-yellow-200">deporte</span> con amigos y explorar la <span class="text-yellow-200">naturaleza</span> en largas caminatas al aire libre.</p>
    
  </div>

</section>