---
interface Props {
	name: string;
}

const { name } = Astro.props;
---
<li class="mr-1.5 mt-2"><div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-slate-200 lg:group-hover/list:text-yellow-200">{name}</div></li>