---
import SocialMedia from "./SocialMedia.astro";
import BadgeHiring from "./BadgeHiring.astro";
---

<header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/3 lg:flex-col lg:justify-between lg:py-24">
  <div>
    <div class="group">
      <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
        <a href="#about">Fernando Rodriguez</a>
      </h1>
      <h2 class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl group-hover:text-yellow-200 flex flex-wrap gap-4"><span>FullStack Developer</span><span><BadgeHiring>Disponible para trabajar</BadgeHiring></span></h2>
      <p class="mt-4 max-w-xs leading-normal">Soluciones digitales precisas, atractivas y accesibles, optimizando su rendimiento.</p>
    </div>
    <nav class="nav hidden lg:block" aria-label="In-page jump links">
      <ul class="mt-16 w-max">
        <li>
          <a class="group tag flex items-center py-3" href="#about">
            <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span>
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Sobre mi</span>
          </a>
        </li>

        <li>
          <a class="group tag flex items-center py-3" href="#experience">
            <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span>
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Experiencia</span>
          </a>
        </li>
        
        <li>
          <a class="group tag flex items-center py-3 " href="#projects">
            <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span>
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Proyectos</span>
          </a>
        </li>
      </ul>
    </nav>
    <div>
      <SocialMedia />
    </div>
  </div>
</header>