---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
---

<ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
  <li class="mr-5 text-xs shrink-0">
    <a class="block hover:text-slate-200" href="https://github.com/FernandoRodriguezValdivia" target="_blank" rel="noreferrer noopener" aria-label="GitHub (opens in a new tab)" title="GitHub">
      <span class="sr-only">GitHub</span>
      <GitHub />
    </a>
  </li><li class="mr-5 text-xs shrink-0">
    <a class="block hover:text-slate-200" href="https://www.linkedin.com/in/fernando-rodriguez-valdivia/" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn (opens in a new tab)" title="LinkedIn">
      <span class="sr-only">LinkedIn</span>
      <LinkedIn />
    </a>
  </li>
</ul>